<% if array.length > 0 %>
  <div class="row">
    <% array.each do |user| %>
      <div class="col-md-4">
        <div class="profile-card">
          <%= image_tag user.profile_picture.url(:thumb), class: 'img-circle pic-thumbnail' %>
          <%= link_to user.full_name, user_path(user), class: 'name-thumbnail' %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="message"><%= message %></p>
<% end %>