<%= render 'profile_heading' %>

  <!-- Renders the entry partial to display the list of
      the current user's journal entries. -->
  <% @user.entries.each do |entry| %>
    <%= render partial: 'entries/entry', locals: {entry: entry} %>
  <% end %>
</div>