<%= render 'profile_heading' %>

<h2 class="heading">Places</h2>

<% if @places.length > 0 %>
  <div class="row">

    <div class="col-sm-3">
      <div class="places">
        <a class="name-thumbnail place-name glyphicon glyphicon-plus add-new-place" href="<%= new_place_path %>"></a>
      </div>
    </div>

    <% @places.each do |place| %>
      <div class="col-sm-3">
        <div class="places">
          <%= link_to place.name, place_path(place), class: 'name-thumbnail place-name' %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p><%= @user.first_name %> doesn't have any places yet.</p>
<% end %>