<h1>Journal Entries</h1>

<ul>
  <% @following_entries.each do |entry| %>
    <li>
      Author: <%= entry.entry_user.first_name %> <%= entry.entry_user.last_name %><br>
      <%= entry.title %><br>
      <%= entry.content %><br>
      <br>
    </li>
  <% end %>
</ul>