@import "bootstrap-sprockets";
@import "bootstrap";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require posts
 *= require_tree .
 *= require_self
 */

 .logo {
  height: 45px;
  margin-top: -10px;
  margin-bottom: -10px;
 }

 .btn-default:hover {
  background-color: #ffdd15;
 }

 a {
  color: black;
 }

 a:hover {
  color: #ffdd15;
 }

 .img-circle {
    border-radius: 50%;
}

.pic {
  display: inline-block;
  float: left;
  margin: 5px;
}

.add-new-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid;
  display: inline-block;
  float: left;
  margin: 5px;
}

.content {
  display: inline-block;
  margin: 15px 0px 0px 10px;
}

.entry {
  border: 1px solid;
  border-radius: 15px;
  overflow: auto;
  margin-bottom: 20px;
}

.profile-heading {
  overflow: auto;
  margin-bottom: 25px;
}

.info {
  display: inline-block;
  float: left;
}

.profile-links {
  display: inline-block;
  margin-top: 20px;
  margin-left: 30px;
}

.profile-img {
  display: inline-block;
  float: right;
}

.pic-thumbnail {
  margin-right: 20px;
}

.name-thumbnail {
  font-size: 18px;
}

.heading {
  text-align: center;
  margin-bottom: 20px;
}

.places {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
}

.place-name {
  border-radius: 25px;
  border: 1px solid;
  padding: 10px 20px 10px 20px;
}

.add-new-place {
  margin-top: -9px;
  margin-bottom: -10px;
}

.post-card {
  width: 250px;
  overflow: auto;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
}

.post-card .post-photo {
  border-radius: 20px;
}

.post-profile {
  margin-top: 12px;
  float: left;
  display: inline-block;
}

.post-info {
  margin-top: 5px;
  display: inline-block;
  text-align: left;
}