<%= render 'layouts/home_header' %>

<!-- Displays a list of places using bootstrap grid. -->

<h2 class="heading">Places</h2>

<% if @places.length > 0 %>
  <div class="row">
    <% @places.each do |place| %>
      <div class="col-sm-3">
        <div class="places">
          <%= link_to place.name, place_path(place), class: 'name-thumbnail place-name' %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p class="message">There are no places yet.</p>
<% end %>