<% if @places.length > 0 %>
  <div class="row">
    <% @places.each do |place| %>
      <div class="col-md-4">
        <%= link_to place.name, place_path(place), class: 'name-thumbnail' %>
      </div>
    <% end %>
  </div>
<% else %>
  <p><%= @place.user.first_name %> doesn't have any places yet.</p>
<% end %>