<!-- Header for the home pages. Links to either a list of following users journal entries or following users places. -->
<div class="links">
  <%= link_to "Places", root_path, class: 'btn btn-default' %>
  <%= link_to "Journal Entries", entries_path, class: 'btn btn-default' %>
</div>